@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

body{
  font-family: 'Lato', sans-serif;
}

h1 {
  text-transform: uppercase;
  margin: 40px 0;
}

.Container {
  height: 100vh;
}

section {
  padding-top: 40px;
}


.main-nav{
  position: absolute;
  background-color: transparent;
  width: 100%;
  font-weight: bold;
}

.background {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url('./img/hero.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.backgroundT {
  /* height: 100vh; */
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url('./img/back-customers.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.background h1 {
  text-transform: uppercase;
  font-weight: 300;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-size: 300%;
}

.btn {
  margin-right: 10px;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  transition: background-color .2s, border .2s;
  font-size: 1.2em;
  font-weight: 300;
  padding: 10px 30px;
}

.btn.btn-ghost{
  background-color: transparent;
  color: #e67e22;
  font-weight: 300;
}

.btn:hover {
  background-color: #bd702d;
  border: 1px solid #bd702d;
  color: #ffffff;
}
.list-group-item{
  padding: 20px;
  text-decoration: none;
  border: none;
  background: transparent;
  /* transition: transform 0.5s; */
}

/* .list-group-item:hover {
  transform: scale(1.1);
} */

.list-group-item a{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color:#ffffff;
  padding: 4px;
  text-decoration: none;
  transition: border-bottom 0s;
}

.list-group-item a:hover{
  border-bottom: 2px solid #bd702d;
}

/* Underline Trick */
.P-underline::after{
  display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 30px auto 0;
}

/* Food Delivery Section */

.card {
  border: none;
  font-weight: 300;
}
/* Food Gallery */
div.card.gallery{
  transform: scale(1.1);
  opacity: 75%;
  transition: all 1s;
}
div.card.gallery:hover{
  transform: scale(1);
  opacity: 100%;
}

.oneNumber{
  display: inline-block;
  color: #e67e22;
  font-weight: bold;
  border: solid 2px #e67e22;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
}

.HowItWorks{
  background: #F4F4F4;
}

blockquote {
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  content: close-quote;
}

blockquote p {
  display: inline;
}

.instagram {
  color: gray;
  transition: all 0.4s;
}
.instagram:hover { color: #8a3ab9; }

.googleplus {
  color: gray;
  transition: all 0.4s;
}
.googleplus:hover { color: #DD4B39; }

.twitter {
  color: gray;
  transition: all 0.4s;
}
.twitter:hover { color: #38A1F3; }

.facebook {
  color: gray;
  transition: all 0.4s;
}
.facebook:hover { color: #3b5998; }

/* ANIMATIONS - GLITCH */

.secretOn {
  /* text-align: center; */
  /* color: #000; */
  /* font-size: 5em; */
  /* letter-spacing: 8px; */
  /* font-family: 'Press Start 2P'; */
  /* font-weight: 400; */
  /*Create overlap*/

  /* margin: 0; */
  /* line-height: 0; */
  /*Animation*/

  animation: glitch1 2.5s infinite;
}

.secretOn:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

.secretOn:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

/* CUSTOM ANIMATION */

.roll-in-blurred-left {
	-webkit-animation: roll-in-blurred-left 5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.rotate-out-hor {
	-webkit-animation: rotate-out-hor 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: rotate-out-hor 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-15 12:25:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
            transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-15 15:36:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-15 16:9:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-out-hor
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-out-hor {
  0% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 0;
  }
}
@keyframes rotate-out-hor {
  0% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 0;
  }
}

