@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

body{
  font-family: 'Lato', sans-serif;
}

h1 {
  text-transform: uppercase;
  margin: 40px 0;
}

.Container {
  height: 100vh;
}

section {
  padding-top: 40px;
}


.main-nav{
  position: absolute;
  background-color: transparent;
  width: 100%;
  font-weight: bold;
}

.background {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url('./img/hero.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.backgroundT {
  /* height: 100vh; */
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url('./img/back-customers.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.background h1 {
  text-transform: uppercase;
  font-weight: 300;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-size: 300%;
}

.btn {
  margin-right: 10px;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  transition: background-color .2s, border .2s;
  font-size: 1.2em;
  font-weight: 300;
  padding: 10px 30px;
}

.btn.btn-ghost{
  background-color: transparent;
  color: #e67e22;
  font-weight: 300;
}

.btn:hover {
  background-color: #bd702d;
  border: 1px solid #bd702d;
  color: #ffffff;
}
.list-group-item{
  padding: 20px;
  text-decoration: none;
  border: none;
  background: transparent;
  /* transition: transform 0.5s; */
}

/* .list-group-item:hover {
  transform: scale(1.1);
} */

.list-group-item a{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color:#ffffff;
  padding: 4px;
  text-decoration: none;
  transition: border-bottom 0s;
}

.list-group-item a:hover{
  border-bottom: 2px solid #bd702d;
}

/* Underline Trick */
.P-underline::after{
  display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 30px auto 0;
}

/* Food Delivery Section */

.card {
  border: none;
  font-weight: 300;
}
/* Food Gallery */
div.card.gallery{
  transform: scale(1.1);
  opacity: 75%;
  transition: all 1s;
}
div.card.gallery:hover{
  transform: scale(1);
  opacity: 100%;
}

.oneNumber{
  display: inline-block;
  color: #e67e22;
  font-weight: bold;
  border: solid 2px #e67e22;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
}

.HowItWorks{
  background: #F4F4F4;
}

blockquote {
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  content: close-quote;
}

blockquote p {
  display: inline;
}

.instagram {
  color: gray;
  transition: all 0.4s;
}
.instagram:hover { color: #8a3ab9; }

.googleplus {
  color: gray;
  transition: all 0.4s;
}
.googleplus:hover { color: #DD4B39; }

.twitter {
  color: gray;
  transition: all 0.4s;
}
.twitter:hover { color: #38A1F3; }

.facebook {
  color: gray;
  transition: all 0.4s;
}
.facebook:hover { color: #3b5998; }